
#clock {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}
#calendar {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.month {
  padding: 20px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
  color: white;
}

.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.month ul li {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev,
.month .next {
  cursor: pointer;
  font-size: 24px;
}

.month .prev {
  float: left;
}

.month .next {
  float: right;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  display: flex;
  list-style-type: none;
}

.weekdays li {
  width: 14.28%;
  text-align: center;
  color: #666;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.days li {
  width: 14.28%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
  border-radius: 50%;
}
