
.articlePage {
  font-family: "Aljazeera", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
}

.articlePage h1 {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #222;
  line-height: 1.3;
  text-align: center;
}
